# Working with CSV(Comma Seprate Values) File

In [40]:
pwd

'/media/its-k/Soft Disk/Programming/Python.py/Working With PDF'

In [41]:
import csv

In [42]:
# open the file
data = open('example.csv', encoding='utf-8')

In [43]:
# csv.reader
csv_data = csv.reader(data)

In [44]:
# reformat it into a python object list of lists
data_lines = list(csv_data)
data_lines[:10]

[['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city'],
 ['1',
  'Joseph',
  'Zaniolini',
  'jzaniolini0@simplemachines.org',
  'Male',
  '163.168.68.132',
  'Pedro Leopoldo'],
 ['2',
  'Freida',
  'Drillingcourt',
  'fdrillingcourt1@umich.edu',
  'Female',
  '97.212.102.79',
  'Buri'],
 ['3',
  'Nanni',
  'Herity',
  'nherity2@statcounter.com',
  'Female',
  '145.151.178.98',
  'Claver'],
 ['4',
  'Orazio',
  'Frayling',
  'ofrayling3@economist.com',
  'Male',
  '25.199.143.143',
  'Kungur'],
 ['5',
  'Julianne',
  'Murrison',
  'jmurrison4@cbslocal.com',
  'Female',
  '10.186.243.144',
  'Sainte-Luce-sur-Loire'],
 ['6',
  'Lucy',
  'Gamet',
  'lgamet5@list-manage.com',
  'Female',
  '10.151.93.36',
  'Pak Phli'],
 ['7',
  'Dyana',
  'Howatt',
  'dhowatt6@amazon.com',
  'Female',
  '224.169.61.29',
  'Palmares'],
 ['8',
  'Kassey',
  'Herion',
  'kherion7@amazon.com',
  'Female',
  '245.51.154.79',
  'ZÃ¡kynthos'],
 ['9',
  'Chrissy',
  'Hedworth',
  'chedworth8@china.com.cn',
  'Male',
  '124.222.93.57',
  'Boevange-sur-Attert']]

In [45]:
data_lines[0]

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']

In [46]:
len(data_lines)

1001

In [47]:
for line in data_lines[:5]:
    print(line)

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']
['1', 'Joseph', 'Zaniolini', 'jzaniolini0@simplemachines.org', 'Male', '163.168.68.132', 'Pedro Leopoldo']
['2', 'Freida', 'Drillingcourt', 'fdrillingcourt1@umich.edu', 'Female', '97.212.102.79', 'Buri']
['3', 'Nanni', 'Herity', 'nherity2@statcounter.com', 'Female', '145.151.178.98', 'Claver']
['4', 'Orazio', 'Frayling', 'ofrayling3@economist.com', 'Male', '25.199.143.143', 'Kungur']

In [48]:
data_lines[10][3]

'hgasquoine9@google.ru'

In [49]:
all_emails = []
for line in data_lines[1:15]:
    all_emails.append(line[3])
all_emails

['jzaniolini0@simplemachines.org',
 'fdrillingcourt1@umich.edu',
 'nherity2@statcounter.com',
 'ofrayling3@economist.com',
 'jmurrison4@cbslocal.com',
 'lgamet5@list-manage.com',
 'dhowatt6@amazon.com',
 'kherion7@amazon.com',
 'chedworth8@china.com.cn',
 'hgasquoine9@google.ru',
 'ftarra@shareasale.com',
 'abathb@umn.edu',
 'lchastangc@goo.gl',
 'cceried@yale.edu']

In [50]:
file_to_output = open('to_save_file.csv', mode='w', newline='')

In [51]:
csv_writer = csv.writer(file_to_output, delimiter=',')

In [52]:
csv_writer.writerow(['a','b', 'c'])

7

In [53]:
csv_writer.writerows([['1', '2', '3'], ['4', '5', '6']])

In [54]:
file_to_output.close()